h1 Todos
h3 Search:
form(action='/todos/search', method='get')
  input(type='text', name='q', value=queryInput)
  button Search
h3 Create:
form(action='/todos/create', method='post')
  input(type='text', name='name')
  button Create
ul
  each todo in todos
    li
      span= todo.name
      span &nbsp
      a(href='/todos/' + todo.id + '/delete') Delete